<!-- Footer -->
  <nav id="navigation">
    <ul id="home">
        <a href="{{ site.github.url }}/" class="image avatar"><img id="home" src="{{ site.github.url }}/images/avatar.jpg" alt="" /></a>
    </ul>
    <ul class="menu-items">
      <li><a href="{{ site.github.url }}/aworldalone">/travels</a></li>
      <!-- <li><a href="{{ site.github.url }}/podcasts">/listens</a></li> -->
      <li><a href="{{ site.github.url }}/blahblah">/pontificates</a></li>
      <li><a href="{{ site.github.url }}/fullstackfirefighter">/codes</a></li>
    </ul>
  </nav>
